body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  text-align: center;
}
div {
  text-align: center;
  float: left;
  background-color: khaki;
  width: 25%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
nav a {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}
figcaption {
  font-size: 10px;
  text-align: center;
}
featured-property p {
  text-align: center;
  width: 800px;
  padding-bottom: 5px;
}